@{
    ViewBag.Title = "Página de inicio";
}



<div class="row">
    <div class="col-md-9">
        <h3>Bienvenido a la aplicación</h3>
        <p>
            Para operar la aplicación seleccione las opciones del menú
        </p>
    </div>
</div>